@charset "UTF-8";
/*
* 物流订单 start
*/
.logistics-order {
  padding: 10px;
}

.logistics-order .opt-box {
  padding: 16px 20px 5px;
  background: #FAFBFF;
}

.logistics-order .opt-box .small-btn, .logistics-order .opt-box .el-button--small {
  margin-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  height: 32px;
  font-size: 14px;
}

.logistics-order .tabs-box {
  margin-top: 16px;
}

.logistics-order .tabs-box .el-tabs__item {
  min-width: 100px;
  text-align: center;
}

.logistics-order .table-box {
  margin-top: -15px;
}

.logistics-order .pagetion-box {
  text-align: right;
  margin-top: 30px;
  padding-bottom: 30px;
}

.order-table {
  width: 100%;
}

.order-table th {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  text-align: center;
  font-size: 14px;
  color: #666;
  font-weight: 500;
  background-color: #FAFBFF;
}

.order-table th:first-child {
  border-left: 1px solid rgba(112, 112, 112, 0.1);
}

.order-table th:last-child {
  border-right: 1px solid rgba(112, 112, 112, 0.1);
}

.order-table td {
  padding: 10px;
}

.order-table .blank-td {
  height: 10px;
  line-height: 10px;
}

.order-table .title-td {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #666;
  border: 1px solid rgba(112, 112, 112, 0.1);
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  background-color: #FAFBFF;
  padding: 0 40px;
}

.order-table .refund-btn {
  width: 120px;
  height: 24px;
  border: 1px solid #1890ff;
  border-radius: 4px;
  color: #2589FF;
  background: #fff;
  margin-left: 24px;
}

.order-table .refund-btn:hover {
  background: rgba(24, 144, 255, 0.05);
}

.order-table .title-item {
  margin-left: 120px;
}

.order-table .title-item:first-child {
  margin-left: 0;
}

.order-table .price {
  color: #FF5050;
}

.order-table .info-tr td {
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  border-left: 1px solid rgba(112, 112, 112, 0.1);
}

.order-table .info-tr td:last-child {
  border-right: 1px solid rgba(112, 112, 112, 0.1);
}

.order-table .goods-details {
  max-width: 340px;
  height: 80px;
}

.order-table .goods-details .goods-pic {
  width: 60px;
  height: 100%;
  float: left;
  line-height: 80px;
}

.order-table .goods-details .goods-info {
  padding-left: 70px;
}

.order-table .goods-details .goods-info .goods-name {
  line-height: 20px;
  font-size: 14px;
  color: #666;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.order-table .goods-details .goods-info .goods-info-spec {
  margin-top: 10px;
  line-height: 20px;
  padding: 0;
}

.order-table .goods-details .goods-info .goods-info-spec .spec-item {
  display: inline-block;
  color: #999;
  margin-right: 10px;
}

.order-table .goods-details .goods-info .goods-info-spec .spec-item:last-child {
  margin-right: 0;
}

.order-table .goods-details .goods-info .goods-info-spec .spec-val {
  color: #2589FF;
}

.order-table .leaving-message-td {
  border: 1px solid rgba(112, 112, 112, 0.1);
}

.order-table .leaving-message {
  font-size: 14px;
  line-height: 20px;
  color: #666;
}

.order-table .el-divider {
  background-color: #2589FF;
}

.order-custom-dialog .el-dialog__header {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  padding: 0;
}

.order-custom-dialog .el-dialog__body {
  padding: 0;
}

.order-custom-dialog .el-dialog__footer .el-button {
  padding: 0;
  width: 120px;
  height: 32px;
}

.order-custom-dialog .el-dialog__footer .el-button + .el-button {
  margin-left: 20px;
}

.order-custom-dialog .order-manage-dailog {
  padding: 0 40px 16px;
}

.order-custom-dialog .order-manage-dailog .form-title {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  padding-left: 10px;
  border-left: 6px solid #2589FF;
  margin-bottom: 10px;
  margin-top: 16px;
}

.order-custom-dialog .order-manage-dailog .form-item-divider {
  height: 1px;
}

.order-custom-dialog .order-manage-dailog.line-h-32-form .form-group-item .form-label {
  line-height: 32px;
}

.order-custom-dialog .order-manage-dailog.line-h-32-form .form-group-item .form-ctrl {
  line-height: 32px;
}

.order-custom-dialog .order-manage-dailog.wide-label-form {
  padding-top: 16px;
}

.order-custom-dialog .order-manage-dailog.wide-label-form .form-group-item .form-label {
  width: 100px;
}

.order-custom-dialog .order-manage-dailog.wide-label-form .form-group-item .form-ctrl {
  padding-left: 105px;
}

.order-custom-dialog .order-manage-dailog .form-group-item {
  margin-bottom: 5px;
  color: #666;
}

.order-custom-dialog .order-manage-dailog .form-group-item .form-label {
  width: 85px;
  font-weight: 500;
  float: left;
  text-align: right;
}

.order-custom-dialog .order-manage-dailog .form-group-item .form-ctrl {
  padding-left: 90px;
  line-height: 20px;
}

.order-custom-dialog .order-manage-dailog .form-group-item .red-text {
  color: #FF5050;
}

.order-custom-dialog .order-manage-dailog .form-group-item .blue-text {
  color: #2589FF;
}

.order-custom-dialog .order-manage-dailog .form-group-item .form-spec-item {
  margin-right: 10px;
}

.order-custom-dialog .order-manage-dailog .form-group-item .form-spec-item .spec-key {
  color: #999;
}

.order-custom-dialog .order-manage-dailog .form-group-item .form-spec-item .spec-val {
  color: #1890FF;
}

/*
* 物流订单 end
*/
/*
* 物流订单详情 start
*/
.logistics-order-details .blue-text {
  color: #1890FF;
}

.logistics-order-details .order-info {
  line-height: 40px;
  padding: 10px 26px;
  color: #666;
  border-bottom: 10px solid #FAFBFF;
}

.logistics-order-details .order-info .info-item {
  margin-left: 35px;
  float: left;
}

.logistics-order-details .order-info .info-item:first-child {
  margin-left: 0;
}

.logistics-order-details .order-state {
  padding: 26px;
  border-bottom: 10px solid #FAFBFF;
}

.logistics-order-details .order-state .state-title {
  color: #1890FF;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 8px;
}

.logistics-order-details .order-state .other-info {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(112, 112, 112, 0.1);
}

.logistics-order-details .order-state .other-info .other-info-item {
  line-height: 20px;
  margin-bottom: 8px;
  color: #666;
}

.logistics-order-details .order-state .other-info .other-info-item .other-info-label {
  width: 70px;
  float: left;
}

.logistics-order-details .order-state .other-info .other-info-item .other-info-ctrl {
  padding-left: 78px;
}

.logistics-order-details .order-state .red-text {
  color: #FF5050;
}

.logistics-order-details .order-state .state-tips {
  line-height: 20px;
  font-size: 14px;
  color: #666;
}

.logistics-order-details .order-state .state-btn-box {
  margin-top: 16px;
}

.logistics-order-details .order-state .btn {
  padding: 0 23px;
  min-width: 120px;
  height: 32px;
  border-radius: 4px;
}

.logistics-order-details .order-state .btn + .btn {
  margin-left: 16px;
}

.logistics-order-details .order-state .blue-btn {
  background: #1890FF;
  color: #fff;
  border: 0;
}

.logistics-order-details .order-state .blue-btn:hover {
  background: rgba(24, 144, 255, 0.9);
}

.logistics-order-details .order-state .blue-plain-btn {
  background: #fff;
  border: 1px solid #1890FF;
  color: #1890FF;
}

.logistics-order-details .order-state .blue-plain-btn:hover {
  background: rgba(24, 144, 255, 0.05);
}

.logistics-order-details .consignee-info {
  padding: 26px 16px 26px 26px;
  border-bottom: 10px solid #FAFBFF;
}

.logistics-order-details .consignee-info .el-col:first-child .consignee-item {
  padding-left: 0;
}

.logistics-order-details .consignee-info .el-col:first-child .consignee-item::before {
  width: 0;
}

.logistics-order-details .consignee-info .consignee-item {
  position: relative;
  padding-left: 20%;
  padding-right: 16px;
}

.logistics-order-details .consignee-info .consignee-item::before {
  content: '';
  display: block;
  width: 1px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 20px;
  background: rgba(112, 112, 112, 0.2);
}

.logistics-order-details .consignee-info .consignee-title {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  font-weight: bold;
}

.logistics-order-details .consignee-info .form-group-item {
  margin-bottom: 10px;
  color: #666;
}

.logistics-order-details .consignee-info .form-group-item .form-label {
  line-height: 20px;
  width: 70px;
  float: left;
}

.logistics-order-details .consignee-info .form-group-item .form-ctrl {
  line-height: 20px;
  padding-left: 75px;
}

.logistics-order-details .consignee-info .avatar-box {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #dedede;
  background: #f1f2f6;
  font-size: 0;
  overflow: hidden;
  vertical-align: middle;
}

.logistics-order-details .consignee-info .avatar-box .avatar {
  display: block;
  width: 100%;
  height: 100%;
}

.logistics-order-details .consignee-info .nickname {
  vertical-align: middle;
  margin-left: 8px;
}

.logistics-order-details .goods-info {
  padding: 10px;
}

.logistics-order-details .goods-info-table {
  border: 1px solid rgba(112, 112, 112, 0.1);
  width: 100%;
}

.logistics-order-details .goods-info-table.coupon-info-table td {
  padding: 10px;
}

.logistics-order-details .goods-info-table th {
  background: #FAFBFF;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  color: #666;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  padding: 0 15px;
}

.logistics-order-details .goods-info-table td {
  padding: 15px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
}

.logistics-order-details .goods-info-table .goods-info-box {
  max-width: 330px;
}

.logistics-order-details .goods-info-table .goods-info-box .pic-box {
  width: 60px;
  height: 60px;
  background: #F2F9FF;
  float: left;
}

.logistics-order-details .goods-info-table .goods-info-box .pic-box .pic {
  display: block;
  width: 100%;
  height: 100%;
}

.logistics-order-details .goods-info-table .goods-info-box .goods-info {
  padding-left: 70px;
}

.logistics-order-details .goods-info-table .goods-info-box .goods-info .goods-name {
  line-height: 20px;
  font-size: 14px;
  color: #666;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.logistics-order-details .goods-info-table .goods-info-box .goods-info .goods-spec {
  margin-top: 10px;
  line-height: 20px;
  padding: 0;
}

.logistics-order-details .goods-info-table .goods-info-box .goods-info .goods-spec .spec-item {
  display: inline-block;
  color: #999;
  margin-right: 10px;
}

.logistics-order-details .goods-info-table .goods-info-box .goods-info .goods-spec .spec-item:last-child {
  margin-right: 0;
}

.logistics-order-details .goods-info-table .goods-info-box .goods-info .goods-spec .spec-val {
  color: #2589FF;
}

.logistics-order-details .price-info-box {
  margin-top: 16px;
  padding: 0 70px 30px;
  color: #666;
  text-align: right;
}

.logistics-order-details .price-info-box .price-info-item {
  margin-bottom: 10px;
  width: 190px;
  display: block;
}

.logistics-order-details .price-info-box .price-info-label {
  float: left;
  width: 70px;
  line-height: 25px;
}

.logistics-order-details .price-info-box .price-info {
  width: 120px;
  padding-left: 70px;
  line-height: 25px;
}

/*
* 物流订单详情 end
*/
