.layout {
  padding: 0;
  height: 100%;
  display: flex;
  .el-header {
    padding: 0;
  }
  .el-aside {
    transition: width .3s;
    overflow: hidden;
  }
  .el-container {
    height: 100%;
  }
  .el-main {
    height: 100%;
    overflow-y: auto;
    padding: 0;
  }
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
  .main-container {
    height: 100%;
    background: #FAFBFF;
    padding: 16px;
  }
  .main-wrap {
    height: 100%;
    background: #fff;
  }
}