<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://lib.baomitu.com/element-ui/2.12.0/theme-chalk/index.css">

  <script src="https://lib.baomitu.com/vue/2.6.10/vue.js"></script>
  <script src="https://lib.baomitu.com/element-ui/2.12.0/index.js"></script>
</head>

<body>
  <div id="app">
    <template v-for="(item, index) in specs">
      <div :key="index">
        <el-radio-group v-model="item.value" @change="((val) => {change(val, item, item.key_str)})">
          <template v-for="item_ in item.v">
            <el-radio :label="item_.id" :key="item_.id">{{item_.name}}</el-radio>
          </template>
        </el-radio-group>
      </div>
    </template>

    <br>
    <br>
    <br>
    <h2>商品规格</h2>
    <ul>
      <li v-for="(item, index) in createSpecs">
        <div>
          规格名：
          <el-select v-model="item.key_id" placeholder="请选择" @change="((val) => {chooseSpecs(val, index)})">
            <el-option v-for="item in specsOption" :key="item.id" :label="item.label" :value="item.id">
            </el-option>
          </el-select>
        </div>
        <div v-if="item.key_name != ''">
          规格值：
          <template v-for="(item_, index_) in item.value">
            <div style="display: inline-block;width: 200px;margin: 15px 15px 15px 0;">
              <el-input v-model="item_.name" placeholder="请输入内容" @blur="specesBlur(index, index_)"></el-input>
            </div>
          </template>
          <el-button type="text" @click="addSpecsValue(index)">添加规格值</el-button>
        </div>
      </li>
    </ul>
    <el-button @click="addSpecs" v-show="createSpecs.length < 3">添加规格项目</el-button>

    <h2>规格明细</h2>
    <!-- <el-table :data="tbody" border style="width: 100%; margin-top: 20px">
      <template v-for="item in thead">
        <el-table-column :prop="item.prop" :label="item.label">
        </el-table-column>
      </template>
    </el-table> -->

    <table border="1" cellpadding='0' cellspacing='0'>
      <thead>
        <tr>
          <template v-for="(item, index) in thead">
            <th :key="index">
              {{item.label}}
            </th>
          </template>
        </tr>
      </thead>
      <tbody>
        <template v-for="(item, index) in tbody">
          <tr :key="index">
            <td v-if="item.v1 !=='' && item.row_1_num !== 0" :rowspan="item.row_1_num" :data-index="index" :data-rowspan="item.row_1_num">
              {{item.v1}}
            </td>
            <td v-if="item.v2 !== '' && item.row_2_num !== 0" :rowspan="item.row_2_num" :data-index="index" :data-rowspan="item.row_2_num">
              {{item.v2}}
            </td>
            <td v-if="item.v3 !== ''" :data-index="index">
              {{item.v3}}
            </td>
            <td>
              <el-input v-model="item.priceOrigin" placeholder="请输入原价" @input="((val) => { changePrice(val, index, item) })"></el-input>
            </td>
            <td>
              <el-input v-model="item.priceCurrent" placeholder="请输入售价" @input="((val) => { changePrice(val, index, item) })"></el-input>
            </td>
            <td>
              <el-input v-model="item.priceCost" placeholder="请输入成本价" @input="((val) => { changePrice(val, index, item) })"></el-input>
            </td>
            <td>
              <el-input v-model="item.stock" placeholder="请输入库存" @input="((val) => { changePrice(val, index, item) })"></el-input>
            </td>
          </tr>
        </template>

      </tbody>
    </table>

  </div>

  <script>
    let uuid = new Date().getTime();
    const vueEm = new Vue({
      el: '#app',
      created() {
        let radioObj = this.radioObj;
        let specs = this.specs;
        for (let i of specs) {
          radioObj[i.key_str] = i.value;
        };
        this.radioObj = radioObj;
      },
      methods: {
        change(val, item, ks) {
          let radioObj = this.radioObj;
          radioObj[ks] = val;
          console.log(radioObj)
          let specs = this.specs;
          let ksArr = []
          for (let i of specs) {
            ksArr.push(i.key_str)
          };
          let radioObjKey = Object.keys(radioObj);

        },
        addSpecs() {
          let createSpecs = this.createSpecs;
          let obj = {
            key_name: '',
            key_id: '',
            value: [
              {
                id: this.uuid(),
                name: ''
              }
            ],
            key_str: 'tree_' + (createSpecs.length + 1)
          };
          if (createSpecs.length >= 3) {
            return;
          };
          createSpecs.push(obj);
          this.createSpecs = createSpecs;
        },
        addSpecsValue(i) {
          let createSpecs = this.createSpecs;
          let obj = {
            id: this.uuid(),
            name: ''
          };
          createSpecs[i].value.push(obj)
          this.createSpecs = createSpecs;
        },
        specesBlur(i, i_) {
          let createSpecs = this.createSpecs;
          let name_ = createSpecs[i].value[i_].name;
          for (let [index, item] of createSpecs[i].value.entries()) {
            if (index != i_ && item.name == name_ && item.name != '' && name_ != '') {
              this.$message.error("已经添加了相同的规格值");
              createSpecs[i].value[i_].name = ''
            };
          }
          this.createSpecs = createSpecs;
          // console.log(createSpecs)
          this.createTable()
        },
        chooseSpecs(val, i) {
          let createSpecs = this.createSpecs;
          let specsOption = this.specsOption;
          for (let s of specsOption) {
            if (s.id == val) {
              createSpecs[i].key_name = s.label;
              break
            }
          }

          for (let [index, item] of createSpecs.entries()) {
            if (index != i && item.key_name == val) {
              this.$message.error("已经添加了相同的规格名");
              createSpecs[i].key_name = '';
              createSpecs[i].key_id = '';
            }
          };

        },
        createTable() {
          let thead = [];
          let tbody = []
          let createSpecs = this.createSpecs;
          let num = 0
          if (createSpecs.length > 0) {
            for (let [index, item] of createSpecs.entries()) {
              let thObj = {
                prop: 'v' + (index + 1),
                label: item.k
              };
              thead.push(thObj);
            };
            thead.push({
              prop: 'priceOrigin',
              label: '原价'
            });
            thead.push({
              prop: 'priceCurrent',
              label: '售价'
            });
            thead.push({
              prop: 'priceCost',
              label: '成本价'
            });
            thead.push({
              prop: 'stock',
              label: '库存'
            });


            // 遍历第一级 创建 tbody
            for (let i = 0; i < createSpecs[0].value.length; i++) {
              let tbObj = {
                id: 0,
                priceOrigin: '',
                priceCurrent: '',
                priceCost: '',
                stock: '',
                image_url: createSpecs[0].value[i].img_url ? createSpecs[0].value[i].img_url : '',
                k1_id: createSpecs[0].key_id,
                k1: createSpecs[0].key,
                v1_id: createSpecs[0].value[i].id,
                v1: createSpecs[0].value[i].name,
                k2_id: '',
                k2: '',
                v2_id: '',
                v2: '',
                k3_id: '',
                k3: '',
                v3_id: '',
                v3: '',
                row_1_num: 1,
                row_2_num: 1,
                row_3_num: 1,
                s1: createSpecs[0].value[i].id,
                s2: '',
                s3: ''
              };

              // 如果有第二级 则遍历第二级
              if (createSpecs.length > 1) {
                for (let j = 0; j < createSpecs[1].value.length; j++) {
                  let tbObj_ = this.deepClone(tbObj);
                  tbObj_.k2_id = createSpecs[1].key_id;
                  tbObj_.k2 = createSpecs[1].key_name;
                  tbObj_.v2_id = createSpecs[1].value[j].id;
                  tbObj_.v2 = createSpecs[1].value[j].name ? createSpecs[1].value[j].name : '';
                  tbObj_.s2 = createSpecs[1].value[j].id;

                  // 如果有第三级 则遍历第三级
                  if (createSpecs.length > 2) {
                    for (let m = 0; m < createSpecs[2].value.length; m++) {
                      let tbObj__ = this.deepClone(tbObj_);
                      tbObj__.k3_id = createSpecs[2].key_id;
                      tbObj__.k3 = createSpecs[2].key_name;
                      tbObj__.v3_id = createSpecs[2].value[m].id;
                      tbObj__.v3 = createSpecs[2].value[m].name ? createSpecs[2].value[m].name : '';
                      tbObj__.s3 = createSpecs[2].value[m].id;

                      // 当为第二级第一个并且是第三级第一个时  合并一级单元格
                      if(j === 0 && m === 0) {
                        tbObj__.row_1_num = createSpecs[1].value.length * createSpecs[2].value.length;
                      } else {
                        tbObj__.row_1_num = 0;
                      };

                      // 当为第三级第一个时 合并二级单元格
                      if (m === 0) {
                        tbObj__.row_2_num = createSpecs[2].value.length;
                      } else {
                        tbObj__.row_2_num = 0;
                      };

                      tbody.push(tbObj__);
                    }
                  } else {
                    // 当没有第三级时 合并一级单元格
                    if(j === 0) {
                      tbObj_.row_1_num = createSpecs[1].value.length;
                    } else {
                      tbObj_.row_1_num = 0;
                    };
                    tbody.push(tbObj_);
                  }
                }
              } else {
                tbody.push(tbObj);
              }
            };
          }

          // console.log(thead)
          // console.log(tbody)

          this.thead = thead;
          this.tbody = tbody;
          this.createList(tbody)

        },
        createList(tbody) {
          // let createSpecs = this.createSpecs;
          let list = [];
          for(let item of tbody) {
            let obj = { 
              "id": item.id,
              "stock": item.stock,
              "priceOrigin": item.priceOrigin,  // 原价
              "priceCurrent": item.priceCurrent, // 售价
              "priceCost": item.priceCost,    // 成本
              "imageUrl": item.image_url,
              "value_id": {
                "tree_1": item.tree_1,
                "tree_2": item.tree_2,
                "tree_3": item.tree_3
              }
            };
            list.push(obj)
          };
          this.list = list;
          console.log(list)

        },
        changePrice(val, index, item) {
          // input 改变价格
          this.createList(this.tbody)
          console.log(this.createSpecs)
          console.log(this.tbody)
          
          console.log(this.list)


        },
        uuid() {
          return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
          )
        },
        deepClone(target) {
          // 定义一个变量
          let result;
          // 如果当前需要深拷贝的是一个对象的话
          if (typeof target === "object") {
            // 如果是一个数组的话
            if (Array.isArray(target)) {
              result = []; // 将result赋值为一个数组，并且执行遍历
              for (let i in target) {
                // 递归克隆数组中的每一项
                result.push(this.deepClone(target[i]));
              }
              // 判断如果当前的值是null的话；直接赋值为null
            } else if (target === null) {
              result = null;
              // 判断如果当前的值是一个RegExp对象的话，直接赋值
            } else if (target.constructor === RegExp) {
              result = target;
            } else {
              // 否则是普通对象，直接for in循环，递归赋值对象的所有值
              result = {};
              for (let i in target) {
                result[i] = this.deepClone(target[i]);
              }
            }
            // 如果不是对象的话，就是基本数据类型，那么直接赋值
          } else {
            result = target;
          }
          // 返回最终结果
          return result;
        }
      },
      data() {
        return {
          thead: [],
          tbody: [],
          createSpecs: [],
          specsOption: [
            {
              label: '颜色',
              id: 'a1'
            }, {
              label: '尺寸',
              id: 'a2'
            }, {
              label: '内存',
              id: 'a3'
            }
          ],
          radioObj: {},
          specs: [],
          list: []
        }
      }
    })
  </script>
</body>

</html>