@charset "UTF-8";
/**
* 商品库 start
*/
.goods-manage {
  padding: 10px;
}

.goods-manage .screen-box {
  padding: 16px;
  margin-top: 10px;
  background: #FAFBFF;
}

.goods-manage .margin-left-20 {
  margin-left: 20px;
}

.goods-manage .goods-form-inline .el-form-item {
  margin-right: 20px;
}

.goods-manage .tabs-box {
  margin-top: 20px;
}

.goods-manage .screen-btn-box {
  padding-left: 82px;
}

.goods-manage .screen-btn-box .el-button {
  padding: 0 15px;
  height: 32px;
}

.goods-manage .pagetion-box {
  text-align: right;
  margin-top: 30px;
}

.goods-manage .goods-info .goods-pic {
  vertical-align: middle;
}

.goods-manage .goods-info .image-slot {
  display: block;
  width: 100%;
  height: 100%;
  background: #f5f7fa;
  color: #909399;
  text-align: center;
  line-height: 40px;
}

.goods-manage .goods-info .name {
  vertical-align: middle;
  margin-left: 10px;
}

.goods-manage .table-box .el-divider {
  background-color: #409EFF;
}

.goods-manage .table-box .selection-del-box {
  padding: 20px 14px;
}

.goods-manage .table-box .selection-del-box .sel-selection-btn {
  padding: 8px 20px;
  margin-left: 20px;
}

.goods-manage .extend-dialog .el-dialog__body {
  padding: 25px 25px 50px;
}

.goods-manage .extend-dialog-body {
  position: relative;
}

.goods-manage .extend-dialog-body::before {
  content: '';
  display: block;
  width: 1px;
  height: 160px;
  background: rgba(37, 137, 255, 0.5);
  position: absolute;
  left: 50%;
  top: 65px;
}

.goods-manage .extend-dialog-body .extend-item {
  width: 50%;
  float: left;
  text-align: center;
}

.goods-manage .extend-dialog-body .item-title {
  font-size: 16px;
  color: #666;
  line-height: 20px;
}

.goods-manage .extend-dialog-body .item-qrcode {
  width: 160px;
  height: 160px;
  margin: 16px auto;
}

.goods-manage .extend-dialog-body .item-qrcode .img {
  display: block;
  width: 100%;
  height: 100%;
}

.goods-manage .extend-dialog-body .item-tips {
  font-size: 14px;
  color: #999;
  line-height: 20px;
}

.goods-manage .extend-dialog-body .item-tips.red {
  color: #FF5050;
}

.goods-manage .extend-dialog-body .btn-box {
  margin-top: 34px;
}

.goods-manage .extend-dialog-body .btn-box .el-button {
  height: 32px;
  padding: 0 10px;
  min-width: 100px;
}

.goods-manage .extend-dialog-body .btn-box .el-button + .el-button {
  margin-left: 20px;
}

/**
* 商品库 end
*/
/**
* 商品库 创建 start
*/
.goods-create {
  padding: 10px;
}

.goods-create .main-title {
  height: 32px;
  padding: 6px 14px;
  line-height: 20px;
  font-size: 14px;
  color: #333;
  background-color: #FAFBFF;
  position: relative;
}

.goods-create .main-title::before {
  content: '';
  display: block;
  width: 4px;
  height: 16px;
  background: #2589FF;
  position: absolute;
  left: 0;
  top: 8px;
}

.goods-create .form-box {
  padding-top: 20px;
}

.goods-create .form-box .el-radio.no-margin {
  margin-right: 0;
}

.goods-create .form-tips {
  font-size: 14px;
  color: #C0C4CC;
  line-height: 20px;
  height: 20px;
  font-weight: 400;
  margin-top: 8px;
}

.goods-create .popover-icon {
  color: #2589FF;
  cursor: pointer;
  margin-left: 6px;
  margin-right: 20px;
}

.goods-create .margin-left-20 {
  margin-left: 20px;
}

.goods-create .max-640 {
  max-width: 640px;
}

.goods-create .category-opt {
  display: inline-block;
}

.goods-create .category-opt .text-btn {
  cursor: pointer;
  color: #2589FF;
}

.goods-create .category-opt .text-btn:hover {
  color: rgba(37, 137, 255, 0.8);
}

.goods-create .category-opt .el-divider {
  background-color: #2589FF;
}

.goods-create .goods-img-list .item {
  width: 88px;
  height: 88px;
  float: left;
  margin-right: 16px;
  background: #FAFBFF;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
}

.goods-create .goods-img-list .item:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.goods-create .goods-img-list .img-item {
  position: relative;
}

.goods-create .goods-img-list .img-item .img {
  display: block;
  width: 100%;
  height: 100%;
}

.goods-create .goods-img-list .img-item:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.goods-create .goods-img-list .img-item:hover .close-btn {
  background: rgba(0, 0, 0, 0.7);
}

.goods-create .goods-img-list .img-item .close-btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 0 20px;
  text-align: right;
}

.goods-create .goods-img-list .img-item .close-btn .close-icon {
  color: #fff;
  font-size: 16px;
}

.goods-create .goods-img-list .add-item {
  line-height: 88px;
  color: #2589FF;
}

.goods-create .goods-img-list .add-item .add-icon {
  margin-right: 3px;
  font-weight: bold;
}

.goods-create .tiymce-box {
  max-width: 900px;
}

.goods-create .selling-time-pick {
  margin-top: 5px;
}

.goods-create .buyLimitNumber-input {
  width: 124px;
  margin: 0 4px;
}

.goods-create .buyLimitNumber-input .el-input__inner {
  padding: 0 10px;
}

.goods-create .choose-store-tips {
  color: #666666;
}

.goods-create .choose-store-tips .blue-text {
  color: #2589FF;
}

.goods-create .choose-store-tips .handle-box {
  color: #2589FF;
  margin-left: 20px;
}

.goods-create .choose-store-tips .handle-box:hover {
  color: rgba(37, 137, 255, 0.8);
}

.goods-create .choose-store-tips .handle-box .el-divider {
  background-color: #2589FF;
}

.goods-create .choose-store-tips .text-btn {
  cursor: pointer;
}

.goods-create .validity-select {
  margin: 0 5px;
  width: 120px;
}

.goods-create .sub-btn-box {
  max-width: 710px;
  text-align: center;
  margin-bottom: 50px;
}

.goods-create .sub-btn-box .el-button + .el-button {
  margin-left: 30px;
}

.goods-create .spec-setting-box {
  padding: 0;
  border: 1px solid rgba(112, 112, 112, 0.1);
}

.goods-create .spec-setting-box .grey-bg {
  background: #FAFBFF;
}

.goods-create .spec-setting-box .item {
  padding: 0 10px;
}

.goods-create .spec-setting-box .add-spec-box {
  height: 40px;
  line-height: 40px;
}

.goods-create .spec-setting-box .add-spec-box .add-spec-btn {
  padding: 0;
  width: 88px;
  height: 24px;
  background: #fff;
  border: 1px solid #1890FF;
  outline: 0;
  color: #1890FF;
  border-radius: 4px;
}

.goods-create .spec-setting-box .add-spec-box .add-spec-btn:hover {
  background: rgba(24, 144, 255, 0.05);
}

.goods-create .spec-setting-box .add-spec-box .add-spec-btn:disabled {
  color: #c0c4cc;
  cursor: not-allowed;
  background-image: none;
  background-color: #fff;
  border-color: #ebeef5;
}

.goods-create .spec-setting-box .add-name-box {
  padding-top: 12px;
  height: 56px;
}

.goods-create .spec-setting-box .add-name-box .remove-btn {
  float: right;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #666;
  width: 64px;
  height: 32px;
  border-radius: 4px;
  background: #fff;
}

.goods-create .spec-setting-box .add-name-box .remove-btn:hover {
  color: #1890FF;
  border-color: #1890FF;
}

.goods-create .spec-setting-box .add-val-box {
  padding: 20px 10px 10px;
}

.goods-create .specs-table {
  border: 1px solid rgba(112, 112, 112, 0.1);
  width: 100%;
}

.goods-create .specs-table th {
  background: #FAFBFF;
  font-size: 14px;
  color: #666;
  font-weight: 500;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 0;
}

.goods-create .specs-table td {
  border-color: rgba(112, 112, 112, 0.1);
  height: 64px;
  line-height: 64px;
  min-width: 135px;
  padding: 0 20px;
  text-align: center;
}

.goods-create .specs-table .el-input__inner {
  height: 32px;
}

.goods-create .import-card-box {
  display: inline-block;
  position: relative;
  padding: 0 5px;
  height: 32px;
  line-height: 40px;
  font-size: 0;
}

.goods-create .import-card-box .text-btn {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  color: #409eff;
}

.goods-create .import-card-box .import-card-input {
  outline: 0;
  border: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  cursor: pointer;
}

.goods-create .import-tips {
  line-height: 20px;
  color: #999;
}

.goods-create .import-tips .blue {
  color: #409eff;
}

.goods-spec-add.add-spec-popover .add-name-input-box {
  margin-bottom: 20px;
}

.goods-spec-add.add-spec-popover .footer-btn {
  padding: 10px;
  text-align: right;
}

.goods-spec-add .add-name-input-box {
  width: 240px;
  height: 32px;
  border: 1px solid rgba(125, 151, 162, 0.16);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  padding-right: 50px;
}

.goods-spec-add .add-name-input-box.disabled {
  padding: 0;
}

.goods-spec-add .add-name-input-box.disabled .add-name-btn {
  display: none;
}

.goods-spec-add .add-name-input-box.disabled .add-name-input {
  width: 100%;
}

.goods-spec-add .add-name-input-box.disabled .add-name-input:disabled {
  background: rgba(206, 216, 243, 0.15);
  cursor: not-allowed;
}

.goods-spec-add .add-name-input-box .add-name-input {
  display: block;
  width: 190px;
  height: 100%;
  padding: 0;
}

.goods-spec-add .add-name-input-box .add-name-input .el-input {
  display: block;
  height: 100%;
}

.goods-spec-add .add-name-input-box .add-name-input .el-input__inner {
  display: block;
  height: 100%;
  border: 0;
  outline: 0;
}

.goods-spec-add .add-name-input-box .add-name-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 100%;
  border: 0;
  border-left: 1px solid #EAEEF0;
  color: #2589FF;
  background: #fff;
}

.goods-spec-add .add-name-input-box .add-name-btn:hover {
  background: rgba(37, 137, 255, 0.1);
}

.goods-spec-add .add-name-input-box .add-name-btn:disabled {
  color: #8cc5ff;
  cursor: not-allowed;
  background-image: none;
  background-color: #fff;
}

.goods-spec-add .val-item {
  width: 88px;
  height: 24px;
  line-height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #707070;
  font-size: 14px;
  text-align: center;
  position: relative;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 20px;
  float: left;
}

.goods-spec-add .val-item.add-val {
  border: 0;
  color: #2589FF;
  cursor: pointer;
}

.goods-spec-add .val-item.add-val:hover {
  color: rgba(37, 137, 255, 0.8);
}

.goods-spec-add .val-item .val-del {
  display: block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  right: -7px;
  cursor: pointer;
  text-align: center;
  background: rgba(0, 0, 0, 0.65);
}

.goods-spec-add .val-item .val-del:hover {
  background: rgba(0, 0, 0, 0.75);
}

.goods-spec-add .val-item .val-del .icon {
  font-size: 10px;
  color: #fff;
  transform: scale(0.8);
}

/**
* 商品库 创建 end
*/
/**
* 商品分类 start
*/
.goods-category {
  padding: 10px;
}

.goods-category .category-tips {
  line-height: 32px;
  color: #999;
}

.goods-category .opt-btn-box {
  text-align: right;
}

.goods-category .opt-btn-box .el-divider {
  background-color: #409EFF;
}

.goods-category .category-table {
  width: 100%;
}

.goods-category .category-table th, .goods-category .category-table td {
  line-height: 56px;
  height: 56px;
  text-align: left;
  border-bottom: 1px solid #eee;
  padding: 0 10px;
}

.goods-category .category-table td {
  color: #666;
}

.goods-category .category-table th {
  color: #909399;
  background: #FAFBFF;
}

.goods-category .category-table tr:nth-child(even) {
  background: #FAFBFF;
}

.goods-category .category-table .collapse-box {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #eee;
  text-align: center;
  line-height: 14px;
  cursor: pointer;
  margin-right: 5px;
}

.goods-category .category-table .collapse-box .icon {
  font-size: 12px;
}

.goods-category .category-table .childrenTr .firstTd {
  padding-left: 30px;
}

.goods-category .pagetion-box {
  margin: 30px 0 20px;
  text-align: right;
}

/**
* 商品分类 end
*/
/**
* 商品规格 start
*/
.goods-spec {
  padding: 10px;
}

.goods-spec .spec-tips {
  line-height: 32px;
  color: #999;
}

.goods-spec .pagetion-box {
  margin: 30px 0 20px;
  text-align: right;
}

.goods-spec .attr-item {
  padding-right: 50px;
  position: relative;
  margin-bottom: 10px;
}

.goods-spec .attr-item .del-btn {
  width: 50px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  outline: 0;
  cursor: pointer;
  border: 0;
  background: transparent;
  color: #409EFF;
}

.goods-spec .attr-item .del-btn:hover {
  color: #66b1ff;
}

.goods-spec .add-attr-box {
  text-align: right;
  padding-right: 50px;
}

.goods-spec .spec-table .attr {
  display: inline-block;
}

.goods-spec .opt-btn-box .el-divider {
  background-color: #409EFF;
}

/**
* 商品规格 end
*/
/**
* 商品设置 start
*/
.goods-setting {
  padding: 10px;
}

.goods-setting .main-title {
  height: 32px;
  padding: 6px 14px;
  line-height: 20px;
  font-size: 14px;
  color: #333;
  background-color: #FAFBFF;
  position: relative;
}

.goods-setting .main-title::before {
  content: '';
  display: block;
  width: 4px;
  height: 16px;
  background: #2589FF;
  position: absolute;
  left: 0;
  top: 8px;
}

.goods-setting .form-tips {
  font-size: 14px;
  line-height: 20px;
  color: #999;
}

.goods-setting .form-item {
  margin: 15px 0;
}

/**
* 商品设置 end
*/
