.aside {
  transition: width .3s;
  height: 100%;
  overflow: hidden;
  position: relative;
  .main-menu, .sub-menu {
    height: 100%;
  }
  .main-menu {
    width: 120px;
    position: relative;
    background: #132236;
    z-index: 89;
  }
  .sub-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 120px;
    background: #fff;
    transition: left .5s;
    .sub-menu-box {
      margin-bottom: 60px;
      &:last-child {
        margin-bottom: 0;
      }
      .sub-menu-item {
        text-align: center;
        line-height: 40px;
        height: 40px;
        color: #999;
        cursor: pointer;
        &:hover, &.active {
          color: #2589FF;
        }
      }
    }
    .logo-box {
      box-shadow:0px 1px 1px rgba(125,151,162,0.16);
      color: #333;
    }
  }
  .logo-box {
    height: 56px;
    width: 100%;
    text-align: center;
    line-height: 56px;
    .svg {
      display: inline-block;
      vertical-align: middle;
      width: 28px;
      height: 48px;
    }
  }
  .aside-main {
    height: calc(100% - 56px);
    position: relative;
  }
  .el-menu {
    width: 100%;
    height: 100%;
    border: 0;
  }
  .el-menu-item {
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 12px !important;
    &.is-active {
      background: #132E55 !important;
    }
  }
  .el-menu-item-group {
    overflow: hidden;
  }
}